<h1><a href="">{{settings.title}}</a></h1>
<div class="links">
  <a [href]="settings.tar1090">🗺️map</a>
  <a href="acars">📰acars</a>
  <a href="webcam">📷webcam</a>

  <a class="linksOpen" *ngIf="linksOpen; else upArrow" #downArrow (click)="changeLinksOpen()">⬇️links</a>
  <ng-template #upArrow>
    <a class="linksOpen" (mouseover)="enableLinksOpen()" (mouseleave)="disableLinksOpen()" (click)="changeLinksOpen()">⬆️links</a>
  </ng-template>
</div>

<div class="sidescroll" (mouseover)="enableLinksOpen()" (mouseleave)="disableLinksOpen()" *ngIf="linksOpen">
  <a href="https://app.airframes.io/">📦airframes</a>
  <a href="https://adsb.lol/">😂adsb.lol</a>
  <a href="https://globe.adsb.fi/">🦟adsb.fi</a>
  <a href="https://globe.adsb.one/">🕐adsb.one</a>
  <a href="https://radar.planespotters.net/">🔎planespotters</a>
  <a href="https://www.flightradar24.com/">🎡flightradar24</a>
  <a href="https://globe.adsbexchange.com/">💰ads-b exchange</a>
</div>
