<div class="thumbnails" *ngFor="let photo of photos">
  <div *ngIf="photo">
    <a [href]="photo.link">
      <img [src]="photo.thumbnail_large.src" [width]="photo.thumbnail.size.width"
        [height]="photo.thumbnail.size.height">
      <blockquote>{{photo.photographer}}</blockquote>
    </a>
  </div>
</div>

<div class="meta">
  <!-- timestamp -->
  <div *ngIf="timestamp">
    <span>timestamp:</span><span>{{timestamp}}</span>
  </div>
  <!-- type -->
  <div *ngIf="frame?.type">
    <span>software:</span>
    <span [ngSwitch]="frame?.type">
      <span *ngSwitchCase="'acarsdec'">🛬</span>
      <span *ngSwitchCase="'dumpvdl2'">✈️</span>
      <span *ngSwitchCase="'dumphfdl'">🌐</span>
      <span *ngSwitchCase="'jaero'">🛰️</span>
      <span>{{frame?.type}}</span>
    </span>
  </div>
  <!-- channel -->
  <div *ngIf="channel">
    <span>channel:</span><span>{{channel}}</span>
  </div>
  <!-- flight -->
  <div *ngIf="frame?.flight">
    <span>flight:</span><span>{{frame?.flight}}</span>
  </div>
  <!-- icao -->
  <div *ngIf="frame?.icao">
    <span>icao:</span><span>{{frame?.icao}}</span>
  </div>
  <!-- label -->
  <div *ngIf="frame?.label">
    <span>label:</span><span>{{frame?.label}}</span>
  </div>
  <!-- receiver -->
  <div *ngIf="frame?.receiver">
    <span>receiver:</span><span>{{frame?.receiver}}</span>
  </div>
</div>

<span *ngIf="frame?.icao" class="links">
  <a [href]="('https://globe.adsbexchange.com?icao=')+frame?.icao">💰exchange</a>
  <a [href]="('https://globe.adsb.one/?icao=')+frame?.icao">1️⃣adsb.one</a>
  <a [href]="('https://globe.adsb.fi/?icao=')+frame?.icao">🇫🇮adsb.fi</a>
</span>

<pre class="text" *ngIf="frame?.text != ''">{{frame?.text}}</pre>
