:host {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}

.image {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.image .name {
  width: 100%;
  font-size: 100%;
}

.image img {
  width: 100%;
  height: auto;
}
