<div class="toolbar">
  <div *ngIf="_wsConnection; else wsDisconnected">
    <div class="wsConnected">Websocket connected</div>
  </div>
  <ng-template #wsDisconnected class="wsDisconnected">
    <div class="wsDisconnected">Websocket disconnected</div>
  </ng-template>

  <div class="flex-row stats">
    <div class="flex-row">
      <div>ACARSDEC: {{_stats.acarsdec}}</div>
      <div>DUMPVDL2: {{_stats.dumpvdl2}}</div>
      <div>DUMPHFDL: {{_stats.dumphfdl}}</div>
      <div>JAERO: {{_stats.jaero}}</div>
    </div>
  </div>
</div>

<div class="rlist">
  <h1 *ngIf="!_wsConnection" style="width: 100%; text-align: center; background-color: #505050;">Disconnected</h1>
  <h1 *ngIf="_messages.length == 0" style="width: 100%; text-align: center; background-color: #505050;">No Messages</h1>
  <app-acars-frame *ngFor="let frame of _messages" [Frame]="frame"></app-acars-frame>
</div>
