:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.wsDisconnected {
  color: rgb(255, 0, 0);
}

.wsConnected {
  color: #00e700;
}

.stats {
  gap: 1rem;
}

.stats >* {
  gap: 1rem;
}

.toolbar {
  user-select: none;
  background-color: #202020;
  padding: 0.5em;
  border-radius: var(--border-radius);
  display: flex;
  gap: 1rem;
  position: sticky;
  top: 3em;
}

.rlist {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  align-self: center;
  gap: 1em;
}


@media screen and (max-width: 500px) {
  .toolbar {
    align-items: center;
    font-size: 0.8em;
    flex-direction: column;
    gap: 0;
  }

  .stats {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }
}
