<header class="flex-row">
  <a routerLink="">🛩️feed.martpaul.de</a>
  <div class="spacer">|</div>
  <div class="burger-menu" (click)="ChangeMenuOpenState()">🍔</div>
  <nav *ngIf="menuVisible">
    <a routerLink="acars">📰Acars</a>
    <a href="https://dyn2.martpaul.de/tar1090/">🗺️Map</a>
    <div class="dd">
      <div class="ddt">💹Statistics</div>
      <div class="ddc">
        <a href="/grafana/public-dashboards/bfffc5cad8ea4bb0bab03e41ec97199e">🗞Acars</a>
        <a href="/grafana/public-dashboards/92b81e36ed6948a2a3268af3225145f8">🛫ADS-B</a>
      </div>
    </div>
    <div class="dd">
      <div class="ddt">📡Flight Tracker</div>
      <div class="ddc">
        <a href="https://adsb.lol/">😂ADSB.lol</a>
        <a href="https://globe.adsb.fi/">🦟ADSB.fi</a>
        <a href="https://globe.adsb.one/">🕐ADSB.one</a>
        <a href="https://radar.planespotters.net/">🔎Planespotters</a>
        <a href="https://www.flightradar24.com/">🎡Flightradar24</a>
        <a href="https://globe.adsbexchange.com/">💰ADS-B Exchange</a>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet />
</main>
<footer class="flex-row">
  <div class="links">
    <button><a href="mailto: martin.paul-3277@web.de">Mail</a></button>
    |
    <button><a href="https://github.com/mortib20">GitHub</a></button>
  </div>
  <div>
    <button (click)="ToTop()">Up</button>
  </div>
  <div>&copy;Martin Paul</div>
</footer>
