:host {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 1em;
  min-height: 100vh;
}

header,
footer {
  user-select: none;
  position: sticky;
  padding: 0.5em;
  background-color: #252525;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

header {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  top: 0;
}

.burger-menu {
  display: none;
  padding-block: 0.5em;
  text-align: center;
}

.burger-menu:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

nav {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

footer {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  bottom: 0;
  justify-content: space-between;
}

.dd .ddc {
  display: none;
}

.dd:hover {
  position: relative;
  cursor: pointer;
}

.dd:hover .ddc, .dd:active .ddc {
  position: absolute;
  background-color: #242424;
  padding: 0.5em;
  width: max-content;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  header {
    word-wrap: normal;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
  }

  nav {
    width: 100%;
    flex-direction: column;
    gap: 0.25em;
  }

  nav >* {
    width: 100%;
    text-align: center;
  }

  .burger-menu {
    display: inline;
  }

  .spacer {
    display: none;
  }
}
