:host {
  width: 100%;
}

.ACARSDEC {
  color: #f47fff;
  font-weight: bold;
}

.DUMPVDL2 {
  color: #00FF00;
  font-weight: bold;
}

.DUMPHFDL {
  font-weight: bold;
  color: #FFA500;
}

.JAERO {
  font-weight: bold;
  color: #75baff;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25em;
}

.top>* {
  background-color: #505050;
  padding: 0.25em;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.bottom {
  background-color: #505050;
  padding: 0.25em;
  gap: 0.25em;
  display: grid;
  grid-template-columns: max-content 1fr;
  height: max-content;
}

.text {
  font-size: 0.9em;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0.25em;
  background-color: black;
}

.imgcontainer {
  user-select: none;
}

.imgcontainer p {
  font-size: 100%;
  color: #ffcb21;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 0.8em;
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }

  .top>*:nth-child(odd):last-child {
    text-align: center;
    grid-column: 1 / span 2;
  }

  .top>* {
    border-radius: 0;
  }

  .top>*:nth-child(1) {
    border-top-left-radius: var(--border-radius);
  }

  .top>*:nth-child(2) {
    border-top-right-radius: var(--border-radius);
  }

  .bottom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

}
