<div class="top">
  <!-- Type -->
  <div>
    Type:
    <div [className]="_type">{{_type}}</div>
  </div>
  <!-- Date -->
  <div>
    Date:
    <div>{{_date}}</div>
  </div>
  <!-- Registration -->
  <div *ngIf="_reg">
    Reg:
    <div>{{_reg}}</div>
  </div>
  <!-- Flight -->
  <div *ngIf="_flight">
    Flight:
    <div>{{_flight}}</div>
  </div>
  <!-- Channel -->
  <div>
    Channel:
    <div>{{_channel}}</div>
  </div>
  <!-- ADSBExchange -->
  <a *ngIf="_hex" [href]="_openLink">Open</a>
</div>
<div class="bottom">
  <!-- If Image -->
  <div class="imgcontainer" *ngIf="(_plSpotImg && _plSpotPhGrap && _plSpotLink); else noImage">
    <a [href]="_plSpotLink" >
      <img [src]="_plSpotImg.src" [width]="200" [height]="133">
      <p>{{ _plSpotPhGrap }}</p>
    </a>
  </div>
  <!-- Else Image -->
  <ng-template class="imgcontainer" #noImage>
    <p>No image</p>
  </ng-template>
  <!-- END Image -->
  <pre class="text">{{_msg_text}}</pre>
</div>
