:host {
  background: radial-gradient(circle, #293760 40%, #2a605e);
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1em;
  justify-content: center;
  align-items: baseline;
}

a {
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  :host {
    flex-direction: column;
  }
}
