<div class="center">
  <div class="left">
    <h1><a routerLink="">{{ settings.title }}</a></h1>
  </div>
  <div class="right">
    <div class="links">
      <a [href]="settings.tar1090">🗺️Map</a>
      <a routerLink="acars">📰Acars</a>
      <a routerLink="webcam">🎥Webcam</a>
    </div>
    <div class="external">
      <a href="https://app.airframes.io">🖼️Airframes</a>
      <a href="https://www.flightradar24.com">📡FlightRadar24</a>
      <a href="https://globe.adsbexchange.com">💸Globe Exchange</a>
    </div>

  </div>
</div>
