:root {
  --background: #293760;
  --header: #454545;
  --primary-text: #FAF0E6;
  --secondary-text: #e0d0bd;
  --primary-selected: #988e8c;
  --button-color: #646fb2;
}

* {
  padding: 0;
  margin: 0;
  color: var(--primary-text);
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  width: 100%;
  font-family: Calibri, "Roboto Thin", sans-serif;
  font-weight: bolder;
  background: var(--background);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-selected);
}

button, input[type="date"] {
  background-color: var(--button-color);
  border: none;
}

button:hover {
  background-color: var(--primary-selected);
  cursor: pointer;
}
