:root {
  --fontSize: 20px;
  --text: #f8f8f8; /* Off-white text for better contrast */
  --text2: #cccccc; /* Light gray text color */
  --background: #1c1c1c; /* Slightly darker background color */
  --primary: #555555; /* Dark gray for primary elements */
  --secondary: #494949; /* Slightly darker secondary color */
  --tertiary: #333333; /* Darkest tertiary color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
}

body {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--text2)
}

a, p, button, input {
  font-size: 1em;
  padding: 0.2em;
}

button, input {
  color: var(--text);
  border: none;
  border-radius: 0;
  background: var(--primary);
}

button:hover, input:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }
}
